In [1]:
import sqlite3
import pathlib
import os
import pandas as pd
import json

/var/folders/3p/76rt9gg12vg2yxlm073tswvc0000gn/T/ipykernel_66738/4207943148.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
with open("pop_numbers.json", "r") as f:
    data = json.load(f)

df = pd.DataFrame(data)

     year  population stateid year_state
0    2010     4785437      AL    2010_AL
1    2010      713910      AK    2010_AK
2    2010     6407172      AZ    2010_AZ
3    2010     2921964      AR    2010_AR
4    2010    37319502      CA    2010_CA
..    ...         ...     ...        ...
709  2023     8715698      VA    2023_VA
710  2023     7812880      WA    2023_WA
711  2023     1770071      WV    2023_WV
712  2023     5910955      WI    2023_WI
713  2023      584057      WY    2023_WY

[714 rows x 4 columns]

In [6]:
df.value_counts('year_state').max()

1

In [ ]:
df = pd.read_csv("cleaned_plant_data.csv")
df